# archivo de configuracion puerto de los microservicios 
# cambiar puerto segun el puerto qur utilizce el microservicio
# se debe crear una copia de este archivo y nombrarla como .env 

USERS_SERVICES=localhost 
USERS_SERVICES_PORT=3006 ## es el mismo puerto que esta configurado en el main de micro servicios user

PROJECT_SERVICES=localhost 
PROJECT_SERVICES_PORT=3008 

INVENTORY_MANAGEMENT_SERVICES=localhost 
INVENTORY_MANAGEMENT_PORT=3009